.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .list {
    border-radius: 2px;
  }

  .cant{
    width: 30px !important;
    height: 30px !important;
    padding: 5px !important;
  }

  .h2{
    display: table-cell !important;
    vertical-align: bottom !important;
  }


  ::-webkit-scrollbar {
    display: none;
}