
<div class="row">


    <div class="col-12">
      <div  class="panel">
        <div class="panel-hdr mb-3">
            <h2>
                Productos
                <span class="fw-300">
                    <i>Lista</i>
                    
                </span>
            </h2>
            <button class="btn bg-primary mr-3">
              <i class="fal fa-home"></i>
            </button>
        </div>
        <div class="panel-container show">
            <div class="panel-content">
  

              
              <cdk-virtual-scroll-viewport class="example-viewport" [ngStyle]="{'height.px': sizeLayout}" [itemSize]="categoryProductsList">
                <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="categoryProductsList"
                [cdkDropListConnectedTo]="[doneList]"
                (cdkDropListDropped)="onDrop($event)"
                >
                <div *cdkVirtualFor="let item of categoryProductsList; let i = index" cdkDrag [cdkDragDisabled] = "item.purchase_value === undefined"  >
                  <div class="m-3 p-3 bg-primary">
                    <div class="row">
                      <button *ngIf="item.purchase_value !== undefined" class="btn col-2" (click)="cantidad('+',i)" >
                        <i class="fal fa-plus "></i>
                      </button>
                      <div class="col-8" style="display: grid;" (click)="getAllSubCategoryMenu(item.id)">
                        <div class="row d-table">
                          <div class="text-white h2" [ngClass]="{'col-6': menuTF === true,'col-12': menuTF === false}" >
                            <h2>{{ item.name }}</h2>
                          </div>
                          <div *ngIf="item.purchase_value !== undefined" class="btn-group d-table float-right">
                            <button
                              class="btn bg-dark text-white rounded"
                              type="button"
                              data-toggle="dropdown"
                            >
                            <div *ngIf="item.purchase_value !== undefined" class="bg-white  text-dark rounded-circle text-center float-left cant ">
                              {{ (item.min_quantity === 0 ? 1 : item.min_quantity  ) }}
                            </div>
                            <div class="float-left text-center cant">
                               {{'$&nbsp;' + ((item.purchase_value * (item.min_quantity === 0 ? 1 : item.min_quantity  )) | number) }}
                            </div>
                            </button>
                            <div
                              class="dropdown-menu dropdown-lg"
                              style="background-image: url(assets/img/backgrounds/bg-1.png);"
                            >
                              <form class="p-4" novalidate>
                                <div class="form-group">
                                  <label class="form-label" for="username">{{ item.name }}</label>
                                  <input
                                    type="number"
                                    id="username"
                                    class="form-control"
                                    placeholder="Nuevo Precio"
                                    required
                                  />
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">
                                  Aceptar
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button *ngIf="item.purchase_value !== undefined" class="btn col-2" (click)="cantidad('-',i)">
                        <i class="fal fa-minus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              </cdk-virtual-scroll-viewport>
  
  
  
  
  
  
  
  
  
  
  
            </div>
          </div>
      </div>
    </div>


    <div class="col-12">
      <div  class="panel">
            <div class="panel-hdr mb-3">
                <h2>
                    Pedidos
                    <span class="fw-300">
                        <i>Lista</i>
                        
                    </span>
                </h2>
            </div>
           
            <div class="panel-container show">
                <div class="panel-content">
  
  
  
  
  
  
  
                  
          <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="completed"
          [cdkDropListConnectedTo]="[todoList]"
          (cdkDropListDropped)="onDrop($event)"
          >
      
          <div class="panel-container show">
            <div class="panel-content">
              <table
                id="dt-user_panel"
                class="table table-bordered table-hover table-striped w-100"
              >
                <thead>
                  <tr>
                    <th class="center" style="width: 20%">Nombre </th>
                    <th class="center" style="width: 20%">Precio (Unidad)</th>
                    <th class="center" style="width: 20%">Cantidad</th>
                    <th class="center" style="width: 20%">Sub total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of completed; index as i" cdkDrag>
                   
                    <td class="center">
                      {{  ({'id':item.id, 'key': 'name', 'obj':productsList } | idKey) }}
                    </td>
                    <td class="center">
                      {{'$&nbsp;'+ item.purchase_value }}
                    </td>
                    <td class="center">
                      {{ item.min_quantity }}
                    </td>
                    <td class="center">
                      {{'$&nbsp;'+ item.min_quantity * item.purchase_value }}
                    </td>
    
                  
                  </tr>
                </tbody>
              </table>
              <table
                style="margin-bottom: 30px !important;"
                class="table table-bordered table-hover table-striped w-50 float-right"
              >
                <thead>
                  <tr>
                    <th class="center" style="width: 20%">Total </th>
                    <th  style="width: 20%">$&nbsp;{{ total({'n1':'min_quantity', 'n2':'purchase_value', 'obj':completed}) | number  }} </th>
                  </tr>
                </thead>
              </table>
              
            </div>
           
          </div>
        </div>
  
  
        <footer style="clear: both;">
          <div class="col-12">
            <button  class="btn btn-primary float-right ml-3 mb-3" type="submit">
              Pagar
            </button>
            <button  class="btn btn-secondary float-right ml-3 mb-3" type="submit">
              Anular
            </button>
            
          </div>
        </footer>
  
  
  
  
  
  
                </div>
  
                
              </div>
      </div>
    </div>
  </div>
  
  
  
  
  